<h1>Feature Engineering</h1>

<h6>Count of frequency encoding</h6>
<p>Finding the count of laptop versions present in the market.</p>

In [152]:
import pandas as pd

In [153]:
df=pd.read_csv('laptops_dataset.csv')

In [154]:
df.head()

                                              Name   Price Screensize Memory
0       Acer Aspire 7 A715-41G-R6S8 (NH.Q8DSI.001)  54,990  15.6 Inch   8 GB
1  Acer Aspire Switch One SW110-1CT (UT.709SI.001)  13,500  10.1 Inch   2 GB
2             Acer Aspire 3 A315-53 (NX.H38SI.010)  23,990  15.6 Inch   4 GB
3            Acer Aspire 7 A715-42G (NH.QAYSI.001)  61,369  15.6 Inch   8 GB
4            Acer Aspire 7 A715-75G (NH.Q85SI.003)  57,990  15.6 Inch   8 GB

In [155]:
df.isnull().sum()

Name          0
Price         0
Screensize    0
Memory        0
dtype: int64

All values are not null.

In [156]:
df['Brand_Name']=df['Name'].str.split(' ')

In [157]:
df

,Name,Price,Screensize,Memory,Brand_Name
0,Acer Aspire 7 A715-41G-R6S8 (NH.Q8DSI.001),"54,990",15.6 Inch,8 GB,"[Acer, Aspire, 7, A715-41G-R6S8, (NH.Q8DSI.001)]"
1,Acer Aspire Switch One SW110-1CT (UT.709SI.001),"13,500",10.1 Inch,2 GB,"[Acer, Aspire, Switch, One, SW110-1CT, (UT.709..."
2,Acer Aspire 3 A315-53 (NX.H38SI.010),"23,990",15.6 Inch,4 GB,"[Acer, Aspire, 3, A315-53, (NX.H38SI.010)]"
3,Acer Aspire 7 A715-42G (NH.QAYSI.001),"61,369",15.6 Inch,8 GB,"[Acer, Aspire, 7, A715-42G, (NH.QAYSI.001)]"
4,Acer Aspire 7 A715-75G (NH.Q85SI.003),"57,990",15.6 Inch,8 GB,"[Acer, Aspire, 7, A715-75G, (NH.Q85SI.003)]"
...,...,...,...,...,...
139,Dell Inspiron 15 3583 (C563115WIN9),"52,200",15.6 Inch,8 GB,"[Dell, Inspiron, 15, 3583, (C563115WIN9)]"
140,Dell Vostro 14 3400 (D552183WIN9DE),"62,290",14 Inch,8 GB,"[Dell, Vostro, 14, 3400, (D552183WIN9DE)]"
141,Dell Inspiron 15 3511 (D560593WIN9SE),"41,990",15.6 Inch,8 GB,"[Dell, Inspiron, 15, 3511, (D560593WIN9SE)]"
142,Dell Inspiron 15 3501 (D560385WIN9S),"67,349",15.6 Inch,8 GB,"[Dell, Inspiron, 15, 3501, (D560385WIN9S)]"
143,Dell Inspiron 15 3593 (D560267WIN9S),"41,990",15.6 Inch,4 GB,"[Dell, Inspiron, 15, 3593, (D560267WIN9S)]"

In [158]:
df['Brand_Name']=df['Brand_Name'].str[0]

In [159]:
df

,Name,Price,Screensize,Memory,Brand_Name
0,Acer Aspire 7 A715-41G-R6S8 (NH.Q8DSI.001),"54,990",15.6 Inch,8 GB,Acer
1,Acer Aspire Switch One SW110-1CT (UT.709SI.001),"13,500",10.1 Inch,2 GB,Acer
2,Acer Aspire 3 A315-53 (NX.H38SI.010),"23,990",15.6 Inch,4 GB,Acer
3,Acer Aspire 7 A715-42G (NH.QAYSI.001),"61,369",15.6 Inch,8 GB,Acer
4,Acer Aspire 7 A715-75G (NH.Q85SI.003),"57,990",15.6 Inch,8 GB,Acer
...,...,...,...,...,...
139,Dell Inspiron 15 3583 (C563115WIN9),"52,200",15.6 Inch,8 GB,Dell
140,Dell Vostro 14 3400 (D552183WIN9DE),"62,290",14 Inch,8 GB,Dell
141,Dell Inspiron 15 3511 (D560593WIN9SE),"41,990",15.6 Inch,8 GB,Dell
142,Dell Inspiron 15 3501 (D560385WIN9S),"67,349",15.6 Inch,8 GB,Dell
143,Dell Inspiron 15 3593 (D560267WIN9S),"41,990",15.6 Inch,4 GB,Dell

In [160]:
df['Name']=df['Name'].str.split(' ')

In [161]:
df['Version']=df['Name'].str[1]

In [162]:
df['Model']=df['Name'].str[2:-2]

In [163]:
df['Model']=df['Model'].str[0]

In [164]:
df['Model No.']=df['Name'].str[-2]

In [165]:
df['ID']=df['Name'].str[-1]

In [166]:
df

,Name,Price,Screensize,Memory,Brand_Name,Version,Model,Model No.,ID
0,"[Acer, Aspire, 7, A715-41G-R6S8, (NH.Q8DSI.001)]","54,990",15.6 Inch,8 GB,Acer,Aspire,7,A715-41G-R6S8,(NH.Q8DSI.001)
1,"[Acer, Aspire, Switch, One, SW110-1CT, (UT.709...","13,500",10.1 Inch,2 GB,Acer,Aspire,Switch,SW110-1CT,(UT.709SI.001)
2,"[Acer, Aspire, 3, A315-53, (NX.H38SI.010)]","23,990",15.6 Inch,4 GB,Acer,Aspire,3,A315-53,(NX.H38SI.010)
3,"[Acer, Aspire, 7, A715-42G, (NH.QAYSI.001)]","61,369",15.6 Inch,8 GB,Acer,Aspire,7,A715-42G,(NH.QAYSI.001)
4,"[Acer, Aspire, 7, A715-75G, (NH.Q85SI.003)]","57,990",15.6 Inch,8 GB,Acer,Aspire,7,A715-75G,(NH.Q85SI.003)
...,...,...,...,...,...,...,...,...,...
139,"[Dell, Inspiron, 15, 3583, (C563115WIN9)]","52,200",15.6 Inch,8 GB,Dell,Inspiron,15,3583,(C563115WIN9)
140,"[Dell, Vostro, 14, 3400, (D552183WIN9DE)]","62,290",14 Inch,8 GB,Dell,Vostro,14,3400,(D552183WIN9DE)
141,"[Dell, Inspiron, 15, 3511, (D560593WIN9SE)]","41,990",15.6 Inch,8 GB,Dell,Inspiron,15,3511,(D560593WIN9SE)
142,"[Dell, Inspiron, 15, 3501, (D560385WIN9S)]","67,349",15.6 Inch,8 GB,Dell,Inspiron,15,3501,(D560385WIN9S)
143,"[Dell, Inspiron, 15, 3593, (D560267WIN9S)]","41,990",15.6 Inch,4 GB,Dell,Inspiron,15,3593,(D560267WIN9S)

In [167]:
df=df.drop('Name',axis=1)

In [168]:
df1 = df[['Brand_Name','Version']]
df1

    Brand_Name   Version
0         Acer    Aspire
1         Acer    Aspire
2         Acer    Aspire
3         Acer    Aspire
4         Acer    Aspire
..         ...       ...
139       Dell  Inspiron
140       Dell    Vostro
141       Dell  Inspiron
142       Dell  Inspiron
143       Dell  Inspiron

[144 rows x 2 columns]

In [169]:
df1.shape

(144, 2)

In [170]:
# let's have a look at how many labels
for col in df1.columns[0:]:
    print(col, ': ', len(df1[col].unique()), ' labels')

Brand_Name :  3  labels
Version :  45  labels

In [171]:
#We make a dictionary that maps each label to the counts
df_frequency_map = df1.Version.value_counts().to_dict()

In [172]:
df1.head(100)

   Brand_Name       Version
0        Acer        Aspire
1        Acer        Aspire
2        Acer        Aspire
3        Acer        Aspire
4        Acer        Aspire
..        ...           ...
95         HP  15s-eq0500AU
96       Dell      Inspiron
97       Dell      Inspiron
98       Dell      Inspiron
99       Dell        Vostro

[100 rows x 2 columns]

In [173]:
# Getting the count
df1.Version = df1.Version.map(df_frequency_map)
df1.head()

c:\users\admin\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

  Brand_Name  Version
0       Acer       23
1       Acer       23
2       Acer       23
3       Acer       23
4       Acer       23

In [174]:
# let's have a look at how many labels
for col in df.columns[0:]:
    print(col, ': ', len(df[col].unique()), ' labels')

Price :  127  labels
Screensize :  6  labels
Memory :  4  labels
Brand_Name :  3  labels
Version :  45  labels
Model :  12  labels
Model No. :  115  labels
ID :  144  labels

In [175]:
pd.get_dummies(df,drop_first=True).shape

(144, 447)

In [176]:
# let's find the top 10 most frequent categories for the variable Version

df.Version.value_counts().sort_values(ascending=False).head(8)

Inspiron      38
Aspire        23
Nitro         12
Vostro         8
Chromebook     8
Pavilion       8
Predator       5
Swift          3
Name: Version, dtype: int64

In [177]:
# let's make a list with the most frequent categories of the variable

top_5_labels = [x for x in df.Version.value_counts().sort_values(ascending=False).head(5).index]
top_5_labels

['Inspiron', 'Aspire', 'Nitro', 'Vostro', 'Chromebook']

In [181]:
import numpy as np
for label in top_5_labels:
     df[label] = np.where(df['Version']==label, 1, 0)
df[['Version']+top_5_labels].head(5)

  Version  Inspiron  Aspire  Nitro  Vostro  Chromebook
0  Aspire         0       1      0       0           0
1  Aspire         0       1      0       0           0
2  Aspire         0       1      0       0           0
3  Aspire         0       1      0       0           0
4  Aspire         0       1      0       0           0

In [183]:
def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)
# read the data again
df2 = df[['Brand_Name', 'Version']]

# encode X2 into the 10 most frequent categories
one_hot_encoding_top_x(df2, 'Version', top_5_labels)
df2.head()

C:\Users\Admin\AppData\Local\Temp/ipykernel_10928/1933155224.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)

,Brand_Name,Version,Version_Inspiron,Version_Aspire,Version_Nitro,Version_Vostro,Version_Chromebook
0,Acer,Aspire,0,1,0,0,0
1,Acer,Aspire,0,1,0,0,0
2,Acer,Aspire,0,1,0,0,0
3,Acer,Aspire,0,1,0,0,0
4,Acer,Aspire,0,1,0,0,0

In [187]:
df['Screensize'].value_counts().sort_values(ascending=False)

15.6 Inch    94
14 Inch      41
11.6 Inch     6
10.1 Inch     1
13.3 Inch     1
17.3 Inch     1
Name: Screensize, dtype: int64

In [188]:
top_5_labels = [x for x in df.Screensize.value_counts().sort_values(ascending=False).index]
top_5_labels

['15.6 Inch', '14 Inch', '11.6 Inch', '10.1 Inch', '13.3 Inch', '17.3 Inch']

In [189]:
import numpy as np
for label in top_5_labels:
     df[label] = np.where(df['Screensize']==label, 1, 0)
df[['Screensize']+top_5_labels].head(5)

  Screensize  15.6 Inch  14 Inch  11.6 Inch  10.1 Inch  13.3 Inch  17.3 Inch
0  15.6 Inch          1        0          0          0          0          0
1  10.1 Inch          0        0          0          1          0          0
2  15.6 Inch          1        0          0          0          0          0
3  15.6 Inch          1        0          0          0          0          0
4  15.6 Inch          1        0          0          0          0          0

In [190]:
def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)
# read the data again
df3 = df[['Brand_Name', 'Screensize']]

# encode X2 into the 10 most frequent categories
one_hot_encoding_top_x(df3, 'Screensize', top_5_labels)
df3.head()

C:\Users\Admin\AppData\Local\Temp/ipykernel_10928/3414245874.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)

,Brand_Name,Screensize,Screensize_15.6 Inch,Screensize_14 Inch,Screensize_11.6 Inch,Screensize_10.1 Inch,Screensize_13.3 Inch,Screensize_17.3 Inch
0,Acer,15.6 Inch,1,0,0,0,0,0
1,Acer,10.1 Inch,0,0,0,1,0,0
2,Acer,15.6 Inch,1,0,0,0,0,0
3,Acer,15.6 Inch,1,0,0,0,0,0
4,Acer,15.6 Inch,1,0,0,0,0,0